h1 {
    color: blueviolet;
}

#h1 {
    color: blue;
    font-weight: bold;
    font-size: 60px;
    font-family: arial;
    background-image: url("cat.jpg");
}

h2 {

    color: purple;
}

#p1 {
    color: blue;
}

#p1 {
    color: plum;
    font-weight: bold;
    font-family: arial;
}

p a {
    color: white;
}

#p2 {
    color: green;
}

.tacos {
    font-size: 72px;
}

img {
    height: 300px;
}
#cat {
    height: 250px;
}

#p1 {
    text-shadow: 1px 1px 1px rgb(44, 3, 48);
}

#p4 {
    font-family: Arial;
    color: brown;
    font-weight: bold;
}

#p2 {
    background-color: aqua;
}

#p3 {
    text-decoration: underline;
    font-weight: bold;
    color: brown;
    font-family: arial;
}

table {
    font-size: 15px;
}